/***** RESET *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 1900px;
  margin-inline: 20px;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 15px;
}

/** FOOTER **/

footer {
  padding: 1rem 4rem 1rem 4rem;
  text-align: right;
  background-color: #f0e5d3e8;
  margin-top: 100px;
  font-size: 0.6rem;
  color: rgb(128, 125, 125);
}

.grid_footer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer1 {
  grid-column: 1/2;
  grid-row: 1/4;
}

.footer2 {
  grid-column: 2/3;
  grid-row: 1/4;
}

.footer3 {
  grid-column: 3/4;
  grid-row: 1/4;
}

footer {
  font-size: 1rem;
}

.footer_p {
  text-align: left;
  font-size: 0.5rem;
}

/***** HEADER *****/
/** lavet til mobile first med burgermenu **/
header {
  background-color: rgb(217, 194, 202);
}

header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: baseline;
  justify-content: space-between;
  letter-spacing: 0.2rem;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo_a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

header ul li {
  margin-top: 1rem;
  margin-left: 3rem;
  text-transform: uppercase;
}

header ul {
  display: flex;
  flex-direction: row;
}

/***** BURGER-MENU *****/
.menu_button {
  display: block; /* Vis knappen, når viewporten maksimalt er 600px */
}

.main_menu {
  display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
}

.main_menu ul {
  display: none; /* Fjern menu-listen som standard */
}

.main_menu.shown ul {
  /* Vis menu-listen, når klassen ".shown" er til stede */
  border-top: 1px solid #000;
  padding-top: 1rem;
  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

button {
  border: none;
  background-color: rgb(217, 194, 202);
}

@media (min-width: 600px) {
  .menu_button {
    background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;

    display: none; /* Skjul knappen */
  }

  .main_menu ul {
    display: flex;
  }

  header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main {
    margin-inline: 50px;
  }

  .footer_p {
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 0.6rem;
  }
}

@media (min-width: 800px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main {
    margin-inline: 100px;
  }

  .footer_p {
    padding: 1rem 1.5rem 1rem 6rem;
    font-size: 0.7rem;
  }
}

@media (min-width: 1000px) {
  header {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main {
    margin-inline: 150px;
  }
}
@media (min-width: 1200px) {
  header {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main {
    margin-inline: 200px;
  }

  .footer_p {
    padding: 1rem 1.5rem 1rem 10rem;
    font-size: 0.8rem;
  }
}

/****** GENEREL *****/

/** FONTE **/

h1 {
  font-family: "Spartan MB", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-family: "Spartan MB", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-family: "Spartan MB", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

p {
  font-family: "Spartan MB", sans-serif;
  font-size: 1rem;
}

body {
  background-color: rgb(254, 242, 228);
}

/** FOOTER**/
