/***** RESET *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
img,
video {
  width: 100%;
  height: auto;
  display: block;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 1900px;
  margin-inline: 200px;
}

/***** HEADER *****/
/** ikke mobile-first (endnu) så no worries hvis den ser grim ud **/
header {
  background-color: beige;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  letter-spacing: 0.2rem;
  margin-left: 170px;
  margin-right: 170px;
}

.logo_a {
  text-decoration: none;
  color: black;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

nav ul li {
  padding: 1rem;
  text-transform: uppercase;
}
