ul {
  margin-top: 1rem;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 15px;
}

@media (min-width: 600px) {
  ul {
    margin-top: 0;
  }
}

.img_isaebella {
  width: 50%;
}

/**** Tekstformat ****/
h1 {
  text-align: center;
  font-weight: lighter;
  font-size: 4rem;
  padding: 20px;
}

h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 3rem;
  padding: 20px;
}

h3 {
  text-align: center;
  font-weight: lighter;
  font-size: 2rem;
  padding: 20px;
}

.center {
  text-align: center;
}

.p {
  padding: 20px;
}

.p1 {
  padding-bottom: 50px;
}

.padding {
  padding-bottom: 50px;
}

/**** Knap ****/

.cta {
  border: 2px solid black;
  font-size: 18px;
  padding: 0.5rem;
  color: black;
  text-decoration: none;
  display: inline-block;
  font-family: "Spartan MB", sans-serif;
}

.cta_padding {
  padding-bottom: 20px;
}

/**** Flex og Grid ****/

.flex_1 {
  display: flex;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media (min-width: 900px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 20px;
  }
}

/**** Video ****/

@media (min-width: 900px) {
  .videokvadrat {
    width: 50%;
    height: auto;
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: auto;
  }
}
