.flex_1-1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 20px;
}

ul {
  margin-top: 1rem;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 15px;
}

img:hover {
  opacity: 70%;
}

h3 {
  text-align: center;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.input-group-field {
  text-align: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  width: 80px;
}

@media (min-width: 600px) {
  ul {
    margin-top: 0;
  }

  .grid_1-5 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-top: 30px;
  }
}
@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
